{% extends 'frontend/common/index.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <!--<div class="col-12">
        <div class="mb-3">
            <h1>Usługi</h1>
            <div class="float-sm-right text-zero">
                <button type="button" class="btn btn-primary btn-lg mr-1">Dodaj</button>
            </div>
            <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                <ol class="breadcrumb pt-0">
                    <li class="breadcrumb-item">
                        <a href="#">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Library</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Data</li>
                </ol>
            </nav>
        </div>

        <div class="mb-2">
            <a class="btn pt-0 pl-0 d-inline-block d-md-none" data-toggle="collapse" href="#displayOptions" role="button" aria-expanded="true" aria-controls="displayOptions">
                Display Options
                <i class="simple-icon-arrow-down align-middle"></i>
            </a>
            <div class="collapse d-md-block" id="displayOptions">

                <div class="d-block d-md-inline-block">
                    <div class="btn-group float-md-left mr-1 mb-1">
                        <button class="btn btn-outline-dark btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sortuj wg
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                        </div>
                    </div>
                    <div class="search-sm d-inline-block float-md-left mr-1 mb-1 align-top">
                        <input placeholder="Szukaj..">
                    </div>
                </div>
                <div class="float-md-right">
                    <span class="text-muted text-small">Displaying 1-10 of 210 items </span>
                    <button class="btn btn-outline-dark btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        20
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; transform: translate3d(1448px, 92px, 0px); top: 0px; left: 0px; will-change: transform;">
                        <a class="dropdown-item" href="#">10</a>
                        <a class="dropdown-item active" href="#">20</a>
                        <a class="dropdown-item" href="#">30</a>
                        <a class="dropdown-item" href="#">50</a>
                        <a class="dropdown-item" href="#">100</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator mb-5"></div>
    </div>-->

    <div class="row">
        <div class="col-12 list" data-check-all="checkAll">

            {% for service in pagination %}
                <div class="card d-flex flex-row mb-3 active">
                    <div class="pl-2 d-flex flex-grow-1 min-width-zero">
                        <div class="card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center">
                            <div class="w-5"></div>
                            <p class="list-item-heading mb-1 w-25">{{ service.GetName() }}</p>
                            <div class="w-15 w-sm-50">
                                {% if service.GetType() == 1 %}
                                    <span class="badge badge-pill badge-primary">Flagi</span>
                                {% elseif service.GetType() == 2 %}
                                    <span class="badge badge-pill badge-primary">MySQL</span>
                                {% elseif service.GetType() == 3 %}
                                    <span class="badge badge-pill badge-primary">Zapytanie Minecraft</span>
                                {% elseif service.GetType() == 4 %}
                                    <span class="badge badge-pill badge-primary">Inne</span>
                                {% endif %}
                            </div>
                            <p class="mb-1 text-muted text-small w-15 w-sm-50">{{ service.getServerDescription() }}</p>
                            <div class="w-15 w-sm-100">
                                <button type="button" class="btn btn-primary btn-sm mr-1">Edytuj</button>
                                <button type="button" class="btn btn-primary btn-sm mr-1">Usuń</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}


            <!--<nav class="mt-4 mb-3">
                <ul class="pagination justify-content-center mb-0">
                    <li class="page-item ">
                        <a class="page-link first" href="#">
                            <i class="simple-icon-control-start"></i>
                        </a>
                    </li>
                    <li class="page-item ">
                        <a class="page-link prev" href="#">
                            <i class="simple-icon-arrow-left"></i>
                        </a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item ">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item ">
                        <a class="page-link next" href="#" aria-label="Next">
                            <i class="simple-icon-arrow-right"></i>
                        </a>
                    </li>
                    <li class="page-item ">
                        <a class="page-link last" href="#">
                            <i class="simple-icon-control-end"></i>
                        </a>
                    </li>
                </ul>
            </nav>-->
        </div>
    </div>
{% endblock %}

{% block javascripts %}{% endblock %}