{% extends 'frontend/common/index.html.twig' %}
{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card mb-5">
                <div class="card-body">
                    <h4 class="card-title">I. Definicje</h4>
                    <ul>
                        <li>Sklep internetowy - serwis internetowy dostępny pod https://sklep.nwxproject.pl/, za którego pośrednictwem Klient może kupić usługę.</li>
                        <li>Klient – osoba fizyczna, osoba prawna lub jednostka organizacyjna niebędąca osobą prawną, której przepisy szczególne przyznają zdolność prawną, która dokonuje Zamówienia w ramach Sklepu.</li>
                    </ul>
                    <h4 class="card-title">II. Postanowienia ogólne</h4>
                    <ul>
                        <li>Sklep jest własnością sieci serwerów NWXProject.pl</li>
                        <li>Właściciel sklepu zastrzega sobie prawo do zmian w sposobie funkcjonowania usług.</li>
                        <li>Składając zamówienie na stronie sklep.nwxproject.pl, Klient potwierdza, że dokładnie zapoznał się z treścią Regulaminu i akceptuje wszystkie jego warunki oraz zobowiązuje się do ich przestrzegania. Przedmiotem transakcji są produkty prezentowane na stronie w chwili składania zamówienia. Wszystkie ceny prezentowane na stronie internetowej podawane są w polskich złotych (PLN). Cena podana w formularzu zamówienia jest wiążąca w chwili złożenia zamówienia. Cena produktu, który w chwili zamówienia jest niedostępny, może ulec zmianie</li>
                        <li>Sklep jest czynny 24 godziny przez 7 dni w tygodniu, wszystkie zamówienia są realizowane automatycznie.</li>
                        <li>Do kupna usługi "admin" uprawnione są tylko osoby których podanie zostało wcześniej przyjęte na forum sieci serwerów NWXProject.pl, w przeciwnym wypadku usługa zostanie anulowana.</li>
                        <li>Administracja nie ponosi odpowiedzialności za błędy w użytkowaniu sklepu przez klienta.</li>
                        <li>Administrator ma prawo do zmian w ofercie sklepu oraz niniejszego regulaminu bez wcześniejszego ostrzeżenia.</li>
                        <li>Użytkownik któremu usługa nie działa poprawnie, bądź w ogóle nie działa powinien zgłosić błąd administracji przed wygaśnięciem terminu usługi, dostarczając jednocześnie dowód zakupu.</li>
                        <li>Prawo do podjęcia decyzji nieokreślonych w tym regulaminie podlega Administratorowi.</li>
                        <li>W przypadku jakichkolwiek problemów związanych ze sklepem prosimy niezwłocznie kontaktować się z Administracją.</li>
                        <li>Jeżeli w czasie 24 godzin od chwili zamówienia Produktu Użytkownik nie otrzyma kodu zwrotnego lub jego usługa nie zostanie prawidłowo nadana, należy zgłosić się do Administratora Sklepu.</li>
                    </ul>
                    <h4 class="card-title">III. Płatności</h4>
                    <ul>
                        <li>Wszelkie płatności przyjmuje firma ---------</li>

                        <li>Płatności SMS:<br>
                            - Płatności SMS zapewnia firma ---.<br>
                            - Korzystanie z serwisu jest jednoznaczne z akceptacją regulaminu.<br>
                            - W razie problemów z płatnością prosimy o kontakt poprzez formularz reklamacyjny.</li>
                        <li>Płatności PaySafeCard:<br>
                            - Przelewy24 zapewnia firma ---<br>
                            - Korzystanie z serwisu jest jednoznaczne z akceptacją regulaminu.</li>
                        <li>Płatności PayPal:Płatności PayPal:<br>
                            - Płatności PayPal zapewnia firma PayPal<br>
                            - Korzystanie z serwisu jest jednoznaczne z akceptacją regulaminu.</li>
                        <li>Płatności przez Przelewy24:<br>
                            - Przelewy24 zapewnia firma ---<br>
                            - Korzystanie z serwisu jest jednoznaczne z akceptacją regulaminu.</li>
                    </ul>
                    <h4 class="card-title">IV. Reklamacje</h4>
                    <ul>
                        <li>Klient może złożyć reklamację w formie pisemnej na adres e-mail: admin@nwxproject.pl.<br>
                            -Wzór:<br>
                            -Nick:<br>
                            - Steam ID:<br>
                            - Serwer:<br>
                            - Jaki jest powód reklamacji?:<br>
                            - Dodatkowe informacje:</li>
                        <li>Reklamację są rozpatrywane w czasie nie dłuższym niż 14 dni.</li>
                    </ul>
                    <h4 class="card-title">V. Zasady użtykownia</h4>
                    <ul>
                        <li>Właściciel sklepu nie ponosi odpowiedzialności za błędy w użytkowaniu sklepu przez klienta.</li>
                        <li>W przypadku zostania zbanowanym na serwerze, klientowi nie przysługuje zwrot kosztów zakupu.</li>
                        <li>W przypadku awarii i niedostępności serwerów z przyczyn niezależnych od właściciela nie muszą przysługiwać dodatkowe dni.</li>
                        <li>Sklep jest w pełni autokrytyczny oraz samowystarczalny wszystko odbywa się natychmiastowo.</li>
                        <li>Wszelkie próby oszustwa wiążą się z utratą usługi (bez zwrotu pieniędzy).</li>
                    </ul>
                    <h4 class="card-title">VI. Usługodawca</h4>
                    <ul>
                        <li>Ma prawo zablokować usługę jeśli usługobiorca narusza regulamin.</li>
                        <li>W przypadku bana na serwerze, klientowi nie przysługuje zwrot kosztów zakupu.</li>
                        <li>Usługodawca zastrzega sobie prawo do zmiany ceny produktów znajdujących się w ofercie, wprowadzania oraz ich wycofania z oferty, przeprowadzania i odwoływania akcji promocyjnych w każdej chwili</li>
                    </ul>
                    <h4 class="card-title">VII. Polityka Prywatności</h4>
                    <ul>
                        <li>Informacje ogólne Niniejsza Polityka Prywatności określa zasady przetwarzania i ochrony danych osobowych przekazanych przez Użytkowników w związku z korzystaniem przez nich usług sklep.nwxproject.pl poprzez Serwis.</li>
                        <li>W trosce o bezpieczeństwo powierzonych nam danych opracowaliśmy wewnętrzne procedury i zalecenia, które mają zapobiec udostępnieniu danych osobom nieupoważnionym. Kontrolujemy ich wykonywanie i stale sprawdzamy ich zgodność z odpowiednimi aktami prawnymi - ustawą o ochronie danych osobowych, ustawą o świadczeniu usług drogą elektroniczną, a także wszelkiego rodzaju aktach wykonawczych i aktach prawa wspólnotowego.</li>
                        <li>Dane osobowe pozostawione w serwisie nie zostaną sprzedane ani udostępnione osobom trzecim, zgodnie z przepisami Ustawy o ochronie danych osobowych.</li>
                        <li>Do danych zawartych w formularzu przysługuje wgląd osobie fizycznej, która je tam umieściła. Osoba ta ma również praw do modyfikacji i zaprzestania przetwarzania swoich danych w dowolnym momencie.</li>
                        <li>Zastrzegamy sobie prawo do zmiany w polityce ochrony prywatności serwisu, na które może wpłynąć rozwój technologii internetowej, ewentualne zmiany prawa w zakresie ochrony danych osobowych oraz rozwój naszego serwisu internetowego. O wszelkich zmianach będziemy informować w sposób widoczny i zrozumiały.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}