<div class="row">
    <div class="col-12">
        <h1>{{ title }}</h1>
        <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
            <ol class="breadcrumb pt-0">
                <li class="breadcrumb-item">
                    <a href="{{ path('homePage') }}"><i class="simple-icon-home"></i></a>
                </li>
                {% for key,value in breadcrumbs %}
                <li class="breadcrumb-item">
                    <a href="{{ value[1] }}">{{ value[0] }}</a>
                </li>
                {% endfor %}
            </ol>
        </nav>
        <div class="separator mb-5"></div>
    </div>
</div>