<nav class="mt-4 mb-3">
    <ul class="pagination justify-content-center mb-0">
        {{ knp_pagination_render(pagination) }}
    </ul>
</nav>

<!--
<nav class="mt-4 mb-3">
    <ul class="pagination justify-content-center mb-0">

        <li class="page-item ">
            <a class="page-link first" href="#">
                <i class="simple-icon-control-start"></i>
            </a>
        </li>
        <li class="page-item ">
            <a class="page-link prev" href="#">
                <i class="simple-icon-arrow-left"></i>
            </a>
        </li>
        <li class="page-item active">
            <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item ">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item ">
            <a class="page-link next" href="#" aria-label="Next">
                <i class="simple-icon-arrow-right"></i>
            </a>
        </li>
        <li class="page-item ">
            <a class="page-link last" href="#">
                <i class="simple-icon-control-end"></i>
            </a>
        </li>
        {{ knp_pagination_render(pagination) }}
    </ul>
</nav>
-->