<nav class="navbar fixed-top">
    <div class="d-flex align-items-center navbar-left">
        <a href="#" class="menu-button d-none d-md-block">
            <svg class="main" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 17">
                <rect x="0.48" y="0.5" width="7" height="1" />
                <rect x="0.48" y="7.5" width="7" height="1" />
                <rect x="0.48" y="15.5" width="7" height="1" />
            </svg>
            <svg class="sub" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 17">
                <rect x="1.56" y="0.5" width="16" height="1" />
                <rect x="1.56" y="7.5" width="16" height="1" />
                <rect x="1.56" y="15.5" width="16" height="1" />
            </svg>
        </a>

        <a href="#" class="menu-button-mobile d-xs-block d-sm-block d-md-none">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 17">
                <rect x="0.5" y="0.5" width="25" height="1" />
                <rect x="0.5" y="7.5" width="25" height="1" />
                <rect x="0.5" y="15.5" width="25" height="1" />
            </svg>
        </a>
    </div>


    <a class="navbar-logo" href="{{ path('homePage') }}">
        <span class="logo d-none d-xs-block"></span>
        <span class="logo-mobile d-block d-xs-none"></span>
    </a>

    <div class="navbar-right">
        <div class="header-icons d-inline-block align-middle pr-lg-5">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a class="btn btn-sm btn-outline-primary mr-2 d-none d-md-inline-block mb-2" href="#" onclick="loadWalletPayments()">
                    <div class="glyph-icon simple-icon-wallet" id="wallet_funds">&nbsp;{{ app.user.wallet }} zł | +&nbsp;</div>
                </a>
            {% endif %}
        </div>

        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="user d-inline-block">
                <a class="btn btn-sm btn-outline-primary ml-3 d-none d-md-inline-block" href="{{ path('login') }}">LOGOWANIE&nbsp;</a>
            </div>
        {% endif %}
    </div>
</nav>