{% extends 'frontend/common/index.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block stylesheets %}

{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rutrum malesuada urna id fringilla. Pellentesque est justo, porttitor eu diam in, hendrerit eleifend mi. Donec efficitur vehicula dui fermentum congue. Aenean vehicula quam eleifend mauris volutpat ultricies. Suspendisse leo tellus, egestas a imperdiet vel, venenatis ultrices lacus. Vivamus sodales ut tellus at porta. Vestibulum nec mauris cursus, vulputate metus at, pulvinar ex.

                    Pellentesque placerat felis id orci accumsan, sit amet suscipit urna iaculis. Maecenas pulvinar turpis et tellus accumsan, ut blandit tellus maximus. Sed pellentesque dolor eu sem convallis sollicitudin. Etiam faucibus consectetur ultrices. Nullam scelerisque lobortis posuere. Aenean lobortis tempus tortor a gravida. Integer tincidunt nec magna pellentesque euismod. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque finibus nunc ac metus aliquet vulputate. Sed porttitor dictum eros a placerat. Nunc eleifend mauris eget vestibulum euismod. Phasellus bibendum eget mi quis varius.

                    Pellentesque iaculis dignissim orci vel vestibulum. Quisque semper erat id risus euismod pretium. Etiam consequat velit sed tortor porttitor condimentum. Ut ut eros lacinia, volutpat dui id, feugiat libero. In consequat nibh et ex euismod, sed posuere velit feugiat. Etiam sollicitudin pellentesque lacus, in laoreet arcu. Fusce interdum nunc in neque finibus, ac sodales lorem pulvinar.

                    Quisque et tortor quis dolor vehicula molestie. Donec finibus tortor ac est ornare bibendum. Nulla laoreet, dui non blandit consequat, eros diam sollicitudin urna, nec gravida enim arcu in est. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque tellus quam, cursus ac euismod quis, suscipit sed quam. Etiam porttitor mi nunc, sit amet eleifend odio pulvinar at. Fusce eleifend massa nisl, sit amet semper justo convallis in. Sed quis velit ut nibh pharetra maximus quis ac diam. Mauris quis ex tincidunt, tempus lacus quis, accumsan ante. Nunc posuere nisi eros, eget feugiat eros tincidunt in. Cras nec lacus vitae ipsum efficitur imperdiet et in tellus.

                    Pellentesque gravida purus tortor, et dapibus lacus fermentum nec. Nunc lectus purus, condimentum et nisl vel, bibendum posuere mauris. Phasellus viverra elementum lectus. Vivamus ut nulla ipsum. Vivamus vel placerat sapien. Nam at blandit lacus. Maecenas id turpis pulvinar, ultrices mauris non, hendrerit dolor. Quisque finibus elit sit amet orci eleifend, vitae pretium nisi pulvinar. Morbi ut tellus a sem dapibus interdum. Integer id scelerisque mauris. Morbi cursus libero vitae nunc tincidunt, vel imperdiet diam condimentum.
                    </p>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block javascripts %}

{% endblock %}