{% extends 'frontend/common/index.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block stylesheets %}

{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-body">
                    <div>
                        <div class="row mt-3">
                            <div class="col-md-4">
                                <div class="form-group mb-3">
                                    <label>Kod vouchera</label>
                                    <input class="form-control" type="text" value="kod">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-3">
                                    <label class="d-block">Serwer</label>
                                    <select class="form-control select2-single">
                                        <option label="&nbsp;">&nbsp;</option>
                                        <option value="0">Text Input</option>
                                        <option value="1" selected="selected">Jakiś serwer</option>
                                        <option value="2">Multiple Select</option>
                                        <option value="3">Checkbox</option>
                                        <option value="4">Radiobutton</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mt-4 mb-3">
                                    <div class="text-center">
                                        <button type="button" class="btn btn-outline-primary btn-sm mb-2">
                                            <i class="simple-icon-plus btn-group-icon"></i>
                                            Wykorzystaj voucher</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block javascripts %}

{% endblock %}