{% extends 'frontend/common/index.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block stylesheets %}
    <style>
        .accordion a {
            position: relative;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            width: 100%;
            padding: 1rem 3rem 1rem 1rem;
            color: #7288a2;
            font-size: 1.15rem;
            font-weight: 400;
            border-bottom: 1px solid #e5e5e5;
        }

        .accordion a:hover,
        .accordion a:hover::after {
            cursor: pointer;
            color: #03b5d2;
        }

        .accordion a:hover::after {
            border: 1px solid #03b5d2;
        }

        .accordion a.active {
            color: #03b5d2;
            border-bottom: 1px solid #03b5d2;
        }

        .accordion a::after {
            font-family: 'simple-line-icons';
            content: '\e604';
            position: absolute;
            float: right;
            right: 1rem;
            font-size: 1rem;
            color: #7288a2;
            padding: 5px;
            width: 30px;
            height: 30px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            border: 1px solid #7288a2;
            text-align: center;
        }

        .accordion a.active::after {
            font-family: 'simple-line-icons';
            content: '\e607';
            color: #03b5d2;
            border: 1px solid #03b5d2;
        }

        .accordion .content {
            opacity: 0;
            padding: 0 1rem;
            max-height: 0;
            border-bottom: 1px solid #e5e5e5;
            overflow: hidden;
            clear: both;
            -webkit-transition: all 0.2s ease 0.15s;
            -o-transition: all 0.2s ease 0.15s;
            transition: all 0.2s ease 0.15s;
        }

        .accordion .content p {
            font-size: 1rem;
            font-weight: 300;
        }

        .accordion .content.active {
            opacity: 1;
            padding: 1rem;
            max-height: 100%;
            -webkit-transition: all 0.35s ease 0.15s;
            -o-transition: all 0.35s ease 0.15s;
            transition: all 0.35s ease 0.15s;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-body">
                    <div>
                        <div class="d-flex flex-row mb-3 pb-3">
                            <div class="accordion">
                                <div class="accordion-item">
                                    <a>Jak mogę zasilić wirtualny portfel?</a>
                                    <div class="content">
                                        <p>
                                            Płatność można dokonać na różne sposoby takie jak: SMS, Przelew, PayPal, PaySafeCard.: SMS, Przelew, PayPal, PaySafeCard.<br/>
                                            Aby doładować portfel, wejdź na swój profil i klknij "Doładuj portfel", po czym wybierz formę doładowania konta, która Cię interesuje.
                                        </p>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <a>Dlaczego metoda płatności SMS jest droższa od pozostałych?</a>
                                    <div class="content">
                                        <p>Ponieważ operator płatności SMS pobiera prowizję w wysokościu 50%, co się wiąże z tym że, realny przychód jest mniejszy niż przy zakupieniu usługi za pomocą przelewu.</p>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <a>Co zrobić w przypadku otrzymania nieprawidłowego kodu?</a>
                                    <div class="content">
                                        <p>Porsimy o ponowne przepisanie kodu, jeżeli problem bedzie się powtarzał skontaktuj się z Administracją.</p>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <a>Jak mogę połączyć się z serwerem gdy jest pełny?</a>
                                    <div class="content">
                                        <p>Wchodzimy do gry, następnie otwieremy konsole i łączymy się z serwerem poprzez komendę "connect ip_serwera" </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        const items = document.querySelectorAll(".accordion a");

        function toggleAccordion(){
            this.classList.toggle('active');
            this.nextElementSibling.classList.toggle('active');
        }

        items.forEach(item => item.addEventListener('click', toggleAccordion));
    </script>
{% endblock %}